---
import Layout from '../layouts/Layout.astro';
import HeaderPrincipal from '../components/HeaderPrincipal.astro';
import SectionPrincipal from '../components/SectionPrincipal.astro';
---

<Layout title="Tesla by Nico.">
	<main>
		<HeaderPrincipal />
		<SectionPrincipal />
	</main>
</Layout>
